$max-resolution: 1140px;

* {
    box-sizing: border-box;
}

body {
    margin : 0;
    padding: 0;
    font-family: sans-serif;   
  
    background: #ffffff;
}

.rowgreynav {
    background: rgb(51, 51, 51);
}

.navbar {
    max-width: $max-resolution;
    margin : auto;
    padding : 10px 0;
    display: flex;
    justify-content: space-between;
        
        a{
            color:white;
            text-decoration: none;
        }

        .navlist{
            display : flex;
            margin : 0;
            padding : 0;
            justify-content: space-around;
            width: 600px;
                
                .navItem{
                    list-style: none;
            
                }
        }
}



.debug {
    border : 1px solid red;
}

.bluebackground{
    background-color: #1E93CC;
    
}

header{
    max-width: $max-resolution;
    margin: auto;
    display: flex;

    .logoget{
        width:33%;
    }
    
    .titre{
        width:33%;
        text-align:center;
        display: flex;
        flex-flow: column;
    }

    .btnTop{
        padding: 20px;
        border-radius: 15px;
        background-color:#E99002;
        border: 1px solid white;
        color:white;
        text-decoration: none;
    }
}

.sousTitre{
    text-align: center;
}

.grille{
    display: flex;
    flex-wrap: wrap;
    max-width: $max-resolution;
    justify-content: space-around;
    margin: auto;

    .texte{
        width:48%;
    }
}

.greybackground{
    background-color: #EEE;
}



.brandsimg{
    max-width: $max-resolution;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-around;
}

footer{
    background-color: rgb(51, 51, 51);
    display: flex;
    justify-content: space-between;
    color: white;
}
.footmenu{
    display:flex;
    justify-content: space-between;
}

.footItem{
    list-style: none;
    margin-right:5px;
}

.button{
    display:flex;
    margin:auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.bottomButton{
    display:flex;
    max-width: $max-resolution;
    text-align:center;
    margin: auto;
}

.blueButton{
    background-color:blue;
    padding:20px;
    border-radius: 15px;
    border: 1px white solid;
}

.orangeButton{
    background-color: #E99002;
    padding:20px;
    border-radius: 15px;
    border: 1px white solid;
}

.bottomButton a{
    color:white;
    text-decoration: none;
}